# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Test results
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/

# PyInstaller
#  Usually contains the output of PyInstaller builds
dist/
build/
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.nox/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# dotenv
.env.*
.envrc

# Local development artifacts
*.log
*.sq*
